<% include partials/header %>

 <header class = "jumbotron">
        <div class = "container">
        <h1><i class="fa fa-comment" aria-hidden = "true"></i> Why Pockets?</h1>
        <p>Pockets provides a space for members to communicate about their experiences buying clothing with a focus on clothing vendors that are gender-inclusive. On this page, you will find articles about gender and clothing.</p>
        
           
        
        </div>
    </header>
    
<div class = "row">
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://www.theatlantic.com/technology/archive/2014/09/the-gender-politics-of-pockets/380935/">The Gender Politics of Pockets</a></h1>
            <p><em>The Atlantic</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>Women's slacks, dresses, and blazers often have “fake” pockets that serve no utilitarian purpose besides sartorially leading the wearer on.</p>
                <p class = ""><a target="_blank" href = "https://www.theatlantic.com/technology/archive/2014/09/the-gender-politics-of-pockets/380935/">link</a></p>
            </div>
        </div>
    </div> 
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://mic.com/articles/133948/the-weird-complicated-sexist-history-of-pockets#.nb4XdUpgO">The Weird, Complicated, Sexist History of Pockets</a></h1>
            <p><em>Mic</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>There are some clothing lines that have directly addressed the problem, ensuring their consumers that their pockets are indeed large enough for an iPhone 6S. So change seems to be coming, albeit slowly. The question now at this point: How much longer must we suffer? </p>
                <p class = ""><a target="_blank" href = "https://mic.com/articles/133948/the-weird-complicated-sexist-history-of-pockets#.nb4XdUpgO">link</a></p>
            </div>
        </div>
    </div> 
</div>

<div class = "row">
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://qz.com/381790/sex-and-gender-arent-perfectly-binary-why-should-clothes-be/">Sex and gender aren’t perfectly binary. Why should clothes be?</a></h1>
            <p><em>Quartz</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>Those differences in dress came to symbolize the supposed differences in the sexes: Men, like a suit, were serious and practical; women, like a flouncy dress, were frivolous and superficial.</p>
                <p class = ""><a target="_blank" href = "https://qz.com/381790/sex-and-gender-arent-perfectly-binary-why-should-clothes-be/">link</a></p>
            </div>
        </div>
    </div> 
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://www.cnn.com/style/article/unisex-fashion-gender-equality/index.html">Runway revolution: Can we tie unisex fashion trends to gender equality?</a></h1>
            <p><em>CNN</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>When writers and filmmakers depict the future, they often include one strange detail: men and women dressing alike.</p>
                <p class = ""><a target="_blank" href = "https://www.cnn.com/style/article/unisex-fashion-gender-equality/index.html">link</a></p>
            </div>
        </div>
    </div> 
</div>

<div class = "row">
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://jezebel.com/i-demand-pocket-equality-1641765540">I Demand Pocket Equality</a></h1>
            <p><em>Jezebel</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>Ever get the feeling that the general lack of pockets on your lady clothing is a conspiracy designed specifically to keep you from advancing by rendering you less effective?</p>
                <p class = ""><a target="_blank" href = "https://jezebel.com/i-demand-pocket-equality-1641765540">link</a></p>
            </div>
        </div>
    </div> 
    <div class = "article col-md-6">
        <div class = "thumbnail">
            <h1><a target="_blank" href = "https://www.theodysseyonline.com/pockets-and-feminism">Pockets And Feminism </a></h1>
            <p><em>The Odyssey</em></p>
            <hr>
            <div class = "caption">
                <h3><i class="fa fa-quote-left"></i></h3>
                <p>This was also supported by the thought that women needed the extra space due to the demeaning idea that they were expected by society to carry cosmetics with them at all times to conform to beauty expectations, whether they enjoyed wearing makeup or not.</p>
                <p class = ""><a target="_blank" href = "https://www.theodysseyonline.com/pockets-and-feminism">link</a></p>
            </div>
        </div>
    </div> 
</div>

<div class = "row">
    <div class = "col-md-12">
        <div class = "well extra-padding">
            <div class = "pull-right ">
                <div class = "">
                    Questions? Comments? Issues? <a class = "btn btn-primary btn-xs" href = "/message/new/">Contact Admin</a> 
                </div>
                
            </div>
           
        </div>
        
    </div>
</div>
  

<% include partials/footer %>
